<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tollesbury Surgery</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/VendorCss/css")
    @Styles.Render("~/Theme/css")
    @Styles.Render("~/Skin/css")
    @Styles.Render("~/Custom/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/Images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/Content/Images/apple-touch-icon.png">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="body">
        <header id="header" class="header-narrow" data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": 35, "stickySetTop": "-35px", "stickyChangeLogo": false}'>
            <div class="header-body">
                <div class="header-top header-top header-top-style-3 header-top-custom">
                    <div class="container">
                        <nav class="header-nav-top pull-right">
                            <ul class="nav nav-pills">
                                <li class="hidden-xs">
                                    <span class="ws-nowrap"><i class="icon-location-pin icons"></i> 1234 Street Name, City Name</span>
                                </li>
                                <li class="hidden-xs">
                                    <span class="ws-nowrap"><i class="icon-envelope-open icons"></i> <a class="text-decoration-none" href="mailto:mail@example.com">mail@example.com</a></span>
                                </li>
                                <li>
                                    <span class="ws-nowrap"><i class="icon-call-out icons"></i> (800) 123-4567</span>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="header-container container">
                    <div class="header-row">
                        <div class="header-column">
                            <div class="header-logo">
                                <a href="demo-medical.html">
                                    <img alt="Tollesbury Surgery logo" width="143" height="40" src="~/Content/Images/TS-logo.png">
                                </a>
                            </div>
                        </div>
                        <div class="header-column">
                            <div class="header-row">
                                <div class="header-nav pt-xs">
                                    <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
                                        <nav>
                                            <ul class="nav nav-pills" id="mainNav">
                                                <li class="activedropdown-full-color dropdown-secondary">
                                                    <a href="demo-medical.html">
                                                        Home
                                                    </a>
                                                </li>
                                                <li class="dropdown-full-color dropdown-secondary">
                                                    <a href="demo-medical-about-us.html">
                                                        About Us
                                                    </a>
                                                </li>
                                                <li class="dropdown dropdown-full-color dropdown-secondary">
                                                    <a class="dropdown-toggle" href="demo-medical-departments.html">
                                                        Departments
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="demo-medical-departments-detail.html">Cardiology</a></li>
                                                        <li><a href="demo-medical-departments-detail.html">Gastroenterology</a></li>
                                                        <li><a href="demo-medical-departments-detail.html">Pulmonology</a></li>
                                                        <li><a href="demo-medical-departments-detail.html">Dental</a></li>
                                                        <li><a href="demo-medical-departments-detail.html">Gynecology</a></li>
                                                        <li><a href="demo-medical-departments-detail.html">Hepatology</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown-full-color dropdown-secondary">
                                                    <a href="demo-medical-doctors.html">
                                                        Doctors
                                                    </a>
                                                </li>
                                                <li class="dropdown-full-color dropdown-secondary">
                                                    <a href="demo-medical-resources.html">
                                                        Resources
                                                    </a>
                                                </li>
                                                <li class="dropdown-full-color dropdown-secondary">
                                                    <a href="demo-medical-insurance.html">
                                                        Insurance
                                                    </a>
                                                </li>
                                                <li class="dropdown-full-color dropdown-secondary">
                                                    <a href="demo-medical-contact.html">
                                                        Contact
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer id="footer" class="m-none">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h4 class="mb-xlg">Location</h4>
                            <p>
                                Porto Medical<br>
                                123 Porto Blvd, Suite 100<br>
                                New York, NY<br>
                                Phone : 123-456-7890
                            </p>
                        </div>
                        <div class="col-md-3">
                            <h4 class="mb-xlg">Opening Hours</h4>
                            <div class="info custom-info">
                                <span>Mon-Fri</span>
                                <span>8:30 am to 5:00 pm</span>
                            </div>
                            <div class="info custom-info">
                                <span>Saturday</span>
                                <span>9:30 am to 1:00 pm</span>
                            </div>
                            <div class="info custom-info">
                                <span>Sunday</span>
                                <span>Closed</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-1">
                            <div class="contact-details">
                                <h4 class="mb-xlg">Emergency Cases</h4>
                                <a class="text-decoration-none" href="tel:1234567890">
                                    <strong class="font-weight-light">(800)123-4567</strong>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <h4 class="mb-xlg">Social Media</h4>
                            <ul class="social-icons">
                                <li class="social-icons-facebook">
                                    <a href="http://www.facebook.com/" target="_blank" title="Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li class="social-icons-twitter">
                                    <a href="http://www.twitter.com/" target="_blank" title="Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="social-icons-linkedin">
                                    <a href="http://www.linkedin.com/" target="_blank" title="Linkedin">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright pt-md pb-md">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 center m-none">
                                <p>© Copyright 2016. All Rights Reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryRemaining")
    @Scripts.Render("~/bundles/Lib")
    @RenderSection("scripts", required: false)
</body>
</html>
